@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

body {
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
    /* font-family: 'Architects Daughter', cursive; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  margin: auto;
}

.page-title {
  font-family: 'Architects Daughter', cursive;
  color: yellow;
  font-size: 4rem;
  text-shadow: 4px 0 0 rgb(10, 13, 233), 0 -4px 0 rgb(10, 13, 233), 0 4px 0 rgb(10, 13, 233), -4px 0 0 rgb(10, 13, 233);

}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around,
}

.pokemon-card {
  width: 25%;
  min-height: 30px;
  max-width: 200px;
  margin: 2rem;
  background-color:orange;
  padding: 15px;
  box-shadow: 0px 0px 0px 8px yellow inset;
  border-radius: 15px;
}
.pokemon-card-grass {
  width: 25%;
  min-height: 200px;
  max-width: 200px;
  margin: 2rem;
  background-image:linear-gradient(to top, green, rgb(50, 206, 50), green);
  padding: 15px;
  box-shadow: 0px 0px 0px 8px yellow inset;
  border-radius: 15px;
}
.pokemon-card-water {
  width: 25%;
  max-width: 200px;
  margin: 2rem;
  background-image:linear-gradient(to top, rgba(55, 95, 226, 0.555), rgb(83, 83, 238),rgba(55, 95, 226, 0.555));
  padding: 15px;
  box-shadow: 0px 0px 0px 8px yellow inset;
  border-radius: 15px;
}
.pokemon-card-fire {
  width: 25%;
  max-width: 200px;
  margin: 2rem;
  background-image:linear-gradient(to top, rgb(238, 46, 46), rgb(192, 29, 29), red);
  padding: 15px;
  box-shadow: 0px 0px 0px 8px yellow inset;
  border-radius: 15px;
}
.pokemon-card-bug {
  width: 25%;
  max-width: 200px;
  margin: 2rem;
  background-image:linear-gradient(to top, rgb(21, 226, 21),yellowgreen);
  padding: 15px;
  box-shadow: 0px 0px 0px 8px yellow inset;
  border-radius: 15px;
}
.pokemon-card-poison {
  width: 25%;
  max-width: 200px;
  margin: 2rem;
  background-image:linear-gradient(to top, rgb(151, 6, 151), rgb(206, 24, 206));
  padding: 15px;
  box-shadow: 0px 0px 0px 8px yellow inset;
  border-radius: 15px;
}
.pokemon-card-normal {
  width: 25%;
  max-width: 200px;
  margin: 2rem;
  background-image:linear-gradient(to top, rgb(32, 238, 238), rgb(46, 173, 173));
  padding: 15px;
  box-shadow: 0px 0px 0px 8px yellow inset;
  border-radius: 15px;
}
.pokemon-card-electric {
  width: 25%;
  max-width: 200px;
  margin: 2rem;
  background-image:linear-gradient(to top, rgb(247, 223, 90), gold);
  padding: 15px;
  box-shadow: 0px 0px 0px 8px yellow inset;
  border-radius: 15px;
}
.pokemon-card-fighting {
  width: 25%;
  max-width: 200px;
  margin: 2rem;
  background-color:indianred;
  padding: 15px;
  box-shadow: 0px 0px 0px 8px yellow inset;
  border-radius: 15px;
}
.pokemon-card-rock {
  width: 25%;
  max-width: 200px;
  margin: 2rem;
  background-color:slategrey;
  padding: 15px;
  box-shadow: 0px 0px 0px 8px yellow inset;
  border-radius: 15px;
}
.pokemon-card-psychic {
  width: 25%;
  max-width: 200px;
  margin: 2rem;
  background-color:magenta;
  padding: 15px;
  box-shadow: 0px 0px 0px 8px yellow inset;
  border-radius: 15px;
}
.pokemon-card-ghost {
  width: 25%;
  max-width: 200px;
  margin: 2rem;
  background-color:whitesmoke;
  padding: 15px;
  box-shadow: 0px 0px 0px 8px yellow inset;
  border-radius: 15px;
}
.pokemon-card-ground {
  width: 25%;
  max-width: 200px;
  margin: 2rem;
  background-color:brown;
  padding: 15px;
  box-shadow: 0px 0px 0px 8px yellow inset;
  border-radius: 15px;
}
.pokemon-card-fairy {
  width: 25%;
  max-width: 200px;
  margin: 2rem;
  background-color:mediumslateblue;
  padding: 15px;
  box-shadow: 0px 0px 0px 8px yellow inset;
  border-radius: 15px;
}
.pokemon-card-dragon {
  width: 25%;
  max-width: 200px;
  margin: 2rem;
  background-color:orange;
  padding: 15px;
  box-shadow: 0px 0px 0px 8px yellow inset;
  border-radius: 15px;
}
.pokemon-card-ice {
  width: 25%;
  max-width: 200px;
  margin: 2rem;
  background-color:royalblue;
  padding: 15px;
  box-shadow: 0px 0px 0px 8px yellow inset;
  border-radius: 15px;
}

.pokemon-name, .pokemon-type {
  color:black;
  margin-bottom: 0;
}

.image-div {
  background-color: white;
  margin-left: 4px;
  margin-right: 4px;
  outline: 3px solid yellow;
  box-shadow: 6px 8px 8px black;
}

.card-head {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.react-icons {
  color: red
}

.specs {
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
}

.height, .weight {
  margin-top: 4%;
  margin-left: 4%;
  margin-right: 4%;
  font-size: 12px;
}